/node_modules
/.pnp
.pnp.js
/coverage
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite
/.next/
/out/
next-serverEnv.d.ts
/build
.DS_Store
*.pem
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env*.local
.vercel
*.tsbuildinfo
.idea
.content-collections
.content-collections/generated/index.js
src/generated/prisma/

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Lockfiles
package-lock.json
LICSESNE.md
*.dump
out.prisma
btc-usd-max.csv
